<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canny.no_touch_elevator">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserActivity"></activity>
        <activity android:name=".VisitorActivity" />
        <activity android:name=".GroupElevatorActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.CustomScanActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".huti.CallElevatorActivity" />
        <activity android:name=".BuildingActivity" />
        <activity android:name=".huti.InTheCallActivity" />
        <activity
            android:name=".huti.CallSucessActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".huti.InTheCallSucessActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".SelectActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9b98e1a718c74b99b27df5ab3c1314d2" />

        <activity
            android:name=".huti.ScanInTheCallActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".huti.ScanInTheSuccessActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".base.BaseActivity" />
    </application>

</manifest>